@import "../../app.scss";
.parallax{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h5{
        font-size: 6rem;
        @include mobile{
            font-size: 3rem;
            text-align: center;
        }
    }

    //AQUI ESTARAN MIS TECNOLOGIAS
    .mountains{
        background-image: url("/assets/mountains.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;

        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .planets{
        background-image: url("/assets/planets.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
    }
    .stars{
        background-image: url("/assets/stars.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
    }
}